.characteristics 
  &-title 
    margin-top: 127px 
    max-width: 790px 

@media screen and ( max-width: 1200px )
  .characteristics 
    &-title 
      margin-top: 100px 
@media (max-width: 1024px) 
  .characteristics 
    &-title 
      margin-top: 0 